<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370927389433-atrbc4q2mtq9t3uihdgokje0iskk46md.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370927389433-atrbc4q2mtq9t3uihdgokje0iskk46md</string>
	<key>API_KEY</key>
	<string>AIzaSyCeU1uR9xujtjCvSzU9JpVnxSYiowXEykg</string>
	<key>GCM_SENDER_ID</key>
	<string>370927389433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestorapp</string>
	<key>PROJECT_ID</key>
	<string>fire-store-d99af</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-store-d99af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370927389433:ios:a06f7d3c3668d8f4e73028</string>
</dict>
</plist>